In [4]:
# Step 1: Install libraries if not already
# !pip install pandas sqlalchemy psycopg2-binary

# Step 2: Import libraries
import pandas as pd
from sqlalchemy import create_engine

# Step 3: Database credentials
host = "localhost"         # usually localhost if DB is on your machine
port = 5433                # default PostgreSQL port
database = "superstore"    # your DB name
username = "postgres"      # your DB username
password = "#gayuSurya9"   # your DB password

# Step 4: Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")


# Step 6: Load your table into pandas
df = pd.read_sql("SELECT * FROM orders", engine)  # replace 'orders' with your table name

# Step 7: Check data
print(df.head())
print(df.info())

# Step 8: Run analysis like before
total_orders = len(df)
total_sales = df['sales'].sum()
total_quantity = df['quantity'].sum()
total_profit = df['profit'].sum()
avg_discount = df['discount'].mean()

print(f"Total orders: {total_orders}")
print(f"Total sales: {total_sales}")
print(f"Total quantity: {total_quantity}")
print(f"Total profit: {total_profit}")
print(f"Average discount: {avg_discount:.2f}")

        ship_mode    segment        country             city       state  \
0    Second Class   Consumer  United States        Henderson    Kentucky
1    Second Class   Consumer  United States        Henderson    Kentucky
2    Second Class  Corporate  United States      Los Angeles  California
3  Standard Class   Consumer  United States  Fort Lauderdale     Florida
4  Standard Class   Consumer  United States  Fort Lauderdale     Florida

  postal_code region         category sub_category   sales  quantity  \
0       42420  South        Furniture    Bookcases  261.96         2
1       42420  South        Furniture       Chairs  731.94         3
2       90036   West  Office Supplies       Labels   14.62         2
3       33311  South        Furniture       Tables  957.58         5
4       33311  South  Office Supplies      Storage   22.37         2

   discount  profit
0      0.00   41.91
1      0.00  219.58
2      0.00    6.87
3      0.45 -383.03
4      0.20    2.52
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ship_mode     9994 non-null   object
 1   segment       9994 non-null   object
 2   country       9994 non-null   object
 3   city          9994 non-null   object
 4   state         9994 non-null   object
 5   postal_code   9994 non-null   object
 6   region        9994 non-null   object
 7   category      9994 non-null   object
 8   sub_category  9994 non-null   object
 9   sales         9994 non-null   float64
 10  quantity      9994 non-null   int64
 11  discount      9994 non-null   float64
 12  profit        9994 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 1015.1+ KB
None
Total orders: 9994
Total sales: 2297201.07
Total quantity: 37873
Total profit: 286397.79000000004
Average discount: 0.16

In [5]:
engine = create_engine(f"postgresql+psycopg2://postgres:#gayuSurya9@localhost:5433/superstore")
df = pd.read_sql("SELECT * FROM orders", engine)
df

,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,sales,quantity,discount,profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.00,41.91
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.00,219.58
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.00,6.87
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.58,5,0.45,-383.03
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.37,2,0.20,2.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.25,3,0.20,4.10
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.96,2,0.00,15.63
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.58,2,0.20,19.39
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.60,4,0.00,13.32
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.16,2,0.00,72.95

In [10]:
# Remove duplicates
df = df.drop_duplicates()

# Strip whitespace from text columns
text_cols = ["ship_mode", "segment", "country", "city",
             "state", "region", "category", "sub_category"]

for col in text_cols:
    df[col] = df[col].str.strip()
# Remove negative quantity (if any)
df = df[df["quantity"] > 0]
# Convert numeric columns properly
df["sales"] = pd.to_numeric(df["sales"], errors="coerce")
df["quantity"] = pd.to_numeric(df["quantity"], errors="coerce")
df["discount"] = pd.to_numeric(df["discount"], errors="coerce")
df["profit"] = pd.to_numeric(df["profit"], errors="coerce")

# Handle missing values
df = df.dropna()

In [11]:
df.to_sql(
    "clean_delays",
    engine,
    if_exists="replace",   # use 'append' in production
    index=False
)

print("Cleaned data saved successfully!")

Cleaned data saved successfully!